<div class="col-2">
  <div class="container">
    <div id="menu">
      <h1><%= link_to "CLEMENT DE BARY", root_path, class: 'link' %></h1>
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to "Projects", projects_path, class: 'link' %>
          </li><br>
          <li class="nav-item">
            <%= link_to "CV", pages_cv_path, class: 'link' %>
          </li><br>
          <li class="nav-item">
            <%= link_to "Contact", pages_contact_path, class: 'link' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

