<div class="wrapper">
   <!--- Contenu page contact --->
   <div class="col-10">
     <div class="container">
       <div id="text-contact" class="text-center">
         <p>Clément de Bary</p>
         <p>Architect</p>
         <p>T +33 6 64 31 47 01</p>
         <p>clementdebary@gmail.com</p>
       </div>
     </div>
   </div>
</div>

