<div class="wrapper">
    <div class="row">
      <!--- menu --->

      <!--- content of the home page --->
      <div class="col-10">
        <div class="container">
          MY CV
        </div>
      </div>
    </div>
</div>
