<div class="wrapper">
  <div class="container">
    <div class="row">

    <div class="col-10">
      <div class="container">
        <div class="cards">

          <a href="/projects/project1" class="card" style="background-image: url(https://images.unsplash.com/photo-1561975023-4cf2c838810c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80")"></a>
          <a href="/projects/project1" class="card" style="background-image: url(https://images.unsplash.com/photo-1561975023-4cf2c838810c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80")"></a>
          <a href="/projects/project1" class="card" style="background-image: url(https://images.unsplash.com/photo-1561975023-4cf2c838810c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80")"></a>
          <a href="/projects/project1" class="card" style="background-image: url(https://images.unsplash.com/photo-1561975023-4cf2c838810c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80")"></a>
          <a href="/projects/project1" class="card" style="background-image: url(https://images.unsplash.com/photo-1561975023-4cf2c838810c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80")"></a>
          <a href="/projects/project1" class="card" style="background-image: url(https://images.unsplash.com/photo-1561975023-4cf2c838810c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80")"></a>

        </div>
      </div>
    </div>
  </div>
</div>


