  .wrapper {
    display: block;
    height: 63.29588vw;
    max-height: 95vh;
    max-width: 145vh;
    min-height: 550px;
    min-width: 868.93455px;
    margin: auto;
    margin-left : 30%;
    margin-right : 30%;
    width: 92.57812%;
  }
